html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container-index {
    display: flex;
    flex-direction: row;
    justify-content: center;  
    align-items: center;      
    background-color: #f5f5f5;
    width: 100%;
}

.second-container{
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 100vh;
}

.App{
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    justify-content: left;
}

.datos{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 2rem;
}


#BOTListar{
    background-color: BLACK;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

#StatusAccion{
    display: none;
}

#cargando{
    display: none;
}
